.subscriptions {
  :global(.panel-footer) {
    height: 55px;
    background-color: white;
    border-top: 1px solid #f7f7f7;

    button + button {
      margin-left: 10px;
    }
  }

  label {
    font-weight: normal;
  }
}

.center {
  text-align: center;
}

.toggle {
  display: block;
}

.subHeader {
  cursor: pointer;
}
